{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("lewiscom\\presto\\assetbundles\\presto\\PrestoAsset") %}

{{ forms.textField({
    label: 'Root Path'|t('presto'),
    instructions: 'The path to your document root'|t('presto'),
    id: 'rootPath',
    name: 'rootPath',
    value: settings.rootPath,
    required: true,
    placeholder: '/path/to/folder',
}) }}

{{ forms.textField({
    label: 'Cache Path'|t('presto'),
    instructions: 'The name of the cache folder'|t('presto'),
    id: 'cachePath',
    name: 'cachePath',
    value: settings.cachePath,
    required: true,
    placeholder: '/cache',
}) }}

{{ forms.textField({
    label: 'Sitemap Index'|t('presto'),
    instructions: 'The public path to your sitemap index'|t('presto'),
    id: 'sitemapIndex',
    name: 'sitemapIndex',
    value: settings.sitemapIndex,
    required: true,
    placeholder: '@cdnUrl/sitemaps/index.xml',
}) }}

{#TODO: When Craft 3.1 is released#}
{#{{ forms.autosuggestField({#}
    {#label: 'Root Path'|t('presto'),#}
    {#instructions: 'The path to your document root'|t('presto'),#}
    {#id: 'rootPath',#}
    {#name: 'rootPath',#}
    {#value: settings.rootPath,#}
    {#suggestions: craft.cp.getEnvSuggestions(true),#}
    {#required: true,#}
    {#placeholder: '/path/to/folder',#}
{#}) }}#}

{#{{ forms.autosuggestField({#}
    {#label: 'Cache Path'|t('presto'),#}
    {#instructions: 'The name of the cache folder'|t('presto'),#}
    {#id: 'cachePath',#}
    {#name: 'cachePath',#}
    {#value: settings.cachePath,#}
    {#suggestions: craft.cp.getEnvSuggestions(true),#}
    {#required: true,#}
    {#placeholder: '/cache',#}
{#}) }}#}

{#{{ forms.autosuggestField({#}
    {#label: 'Sitemap Index'|t('presto'),#}
    {#instructions: 'The public path to your sitemap index'|t('presto'),#}
    {#id: 'sitemapIndex',#}
    {#name: 'sitemapIndex',#}
    {#value: settings.sitemapIndex,#}
    {#suggestions: craft.cp.getEnvSuggestions(true),#}
    {#required: true,#}
    {#placeholder: '@cdnUrl/sitemaps/index.xml',#}
{#}) }}#}

{{ forms.checkboxField({
    label: 'Cache pages for logged in users'|t('presto'),
    id: 'cacheWhenLoggedIn',
    name: 'cacheWhenLoggedIn',
    checked: settings.cacheWhenLoggedIn,
}) }}

{{ forms.checkboxField({
    label: 'Enable cache warming'|t('presto'),
    instructions: 'Warm the cache when an entry is modified'|t('presto'),
    id: 'warmCache',
    name: 'warmCache',
    checked: settings.warmCache,
}) }}

<hr>

<div class="field">
    <div class="heading">
        <div class="instructions">
            Purges all static and template caches.
        </div>
    </div>
    <a class="btn submit" href="{{ actionUrl('presto/default/purge-cache') }}">Purge Cache</a>
</div>

<div class="field">
    <div class="heading">
        <div class="instructions">
            Crawl your website based on the urls in your sitemap
        </div>
    </div>
    <a class="btn submit" href="{{ actionUrl('presto/default/warm-entire-cache') }}">Warm Cache</a>
</div>